html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    overflow: hidden;
}

#main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

#blok_pannel {
    width: 25%;
    min-width:300px;
    background-color: #2a2a2a;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; /* чтобы не вылазили лишние блоки */
}


#map_ {
    flex-grow: 1;
    height: 100%;
    position: relative;
    transition: width 0.3s ease;
}

#mobile_panel {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #2a2a2a;
    color: white;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}


#user-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
    color: white;
    font-weight: bold;
}

.user-item {
    width: 33.33%;
    text-align: center;
    font-size: 14px;
}

.user-item.left {
    text-align: left;
    padding-left: 20px;
}

.user-item.center {
    text-align: center;
}

.user-item.right {
    text-align: right;
    padding-right: 20px;
}

.user-item a {
    color: #0078d4;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;

}

.user-item.right a {
    color: #dc3545; /* "Выйти" — красным */
}
.footer {
    text-align: center;
    color: #aaa;
    font-size: 14px;
    background-color: #1e1e1e;
    padding-top: 3px;
    flex-grow: 1;
}
#tasks-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

#tasks-list {
    flex-grow: 1;
    overflow-y: auto;
}

#tasks-list div{
    font-size: 16px;
    padding: 8px;
}
.task-item, .task-item-2 {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.area-item {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
.task-id {
    font-weight: bold;
    color: #0078d4;
}
.task-address {
    color: #666;
    font-size: 0.9em;
}
.task-item:hover {
    background-color: #555;
}
.task-item-2:hover {
    background-color: #cfcfcf;
}

.task-item {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: #2f2f2f; /* можно затемнить фон */
    border-radius: 5px;
}


