<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О программе</title>
</head>
<body>
Что это за сайт?
- Этот сайт - инструмент для визуализации данных из таблиц с заявками для выездных инженеров.
Зачем он нужен?
- В силу специфики работы часто акты собираются не сразу после выполнения заявки, а перед концом отчётного периода.
- Основная идея этого сайта - визуализировать на карте сухие данные из exel таблицы, чтобы работать было удобнее и быстрее.
Этот инструмент разработан инженером, который сам собирал эти акты.
- Как начать работать с этим сайтом?
- Все просто: на странице авторизации есть ссылка "Зарегистрироваться". Нажимаем на нее, вводим желаемый логин (не более
6ти символов) и пароль. Аккаунт готов.
После регистрации откроется главная страница сайта. Её можно разделить на 2 зоны: интреактивная карта и панель управления.
- Что такое панель управления и как с ней работать?
 Панель управления - блок, кнопок и списков, в котором отображена вся информация, которая есть на карте.
Сверху панели управления расположены 3 ссылки: ссылка на панель инструментов (эмодзи рядом с логином), ссылка "Обратная связь"
и ссылка "Выйти". Панель инструментов рассмотрим позднее. Обратная связь открывает форму, на которой можно оставить свои замечания,
пожелания или слова благодарности. Кнопка выход позволяет выйти из акаунта.
Ниже идут 2 кнопки: Задачи и Области.
- Зачем эти кнопки?
- Сначала введем терминологию - задача - обращение на выезд мастера, имеет адрес, описание, решение и время выполнения.
Здание - точка на карте - объект, непосредственно на который выезжает инженер по заявке. На одном здании может быть несколько заявок.
Холдинг - множество объектов, которые юридически входят в одну организацию. Области - некая зона на карте, которая накладывает
ограничение на отображение зданий. Если выбрать область - то на карте останутся только те здания, которые попадают в эту зону.
Введя необходимые понятия, ответим на вопрос про кнопки:
Задачи - показывают список всех задач, которые находятся в выбранных областях. Но если не выбрана ни одна область, то будут
отображены вообще все активные задачи.

</body>
</html>